body {
    font-family: "arial";
    margin: 0;
    padding: 0;
    background-color: #A5CADF; /* Light blue */
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #A5CADF; /* Light blue */
    color: #1F3344;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    text-align: center;
    padding-top: 5vh;
    margin: 0;
    font-size: 8vh;
}
nav {
    background-color: #A5CADF; /* Normal */
    padding: 1vh;
    position: absolute;
    font-size: 2vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #1F3344;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 0;
    background-color: #1F3344; /* Dark blue */
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.content-template {
    display: flex;
    flex-direction: column;
    width: calc(70% - 40px);
    background-color: #A5CADF; /* Normal */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.content-template h2 {
    margin-bottom: 20px;
    color: #1F3344;
    text-align: center;
}

.content-template article {
    margin-bottom: 20px;
}

.content-template article h3 {
    color: #A5CADF; /* Light blue */
}

.content-template a {
    color: #1F3344;
}

.content-template a:hover {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    background-color: #A5CADF; /* Light blue */
    color: #1F3344;
    text-align: center;
    padding: 10px 0;
    clear: both;
} 

.question-form,
.login-form {
    background-color: #1F3344; /* Dark blue */
    border: 2px dashed #A5CADF; /* Normal */
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.question-form h3,
.login-form h3 {
    margin-top: 0;
    color: #A5CADF; /* Light blue */
    text-align: center;
}

.question-form input[type="text"],
.question-form input[type="email"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #A5CADF; /* Normal */
    border-radius: 10px;
}

.question-form textarea {
    width: calc(100% - 20px);
    height: 150px;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #A5CADF; /* Normal */
    border-radius: 10px;
}

.question-form input[type="submit"],
.login-form input[type="submit"] {
    background-color: #1F3344; /* Dark blue */
    color: #A5CADF;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.1em;
}

.question-form input[type="submit"]:hover,
.login-form input[type="submit"]:hover {
    background-color: #A5CADF; /* Normal */
}

.question-form p,
.login-form p {
    margin-top: 10px;
    color: #A5CADF; /* Light blue */
}

.login-form a {
    color: #A5CADF; /* Normal */
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

header {
    background-color: #EBF4FF;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Style for the login button */
#loginBtn {
    padding: 10px 20px;
    background-color: #1F3344;
    color: #EBF4FF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal content box */
.modal-content {
    background-color: #A5CADF;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container2 { max-width: 800px; margin: 0 auto; padding: 20px; }
.track-list2 { margin-top: 20px; }
.track { margin-bottom: 20px; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
table, th, td { border: 1px solid black; }
th, td { padding: 8px; text-align: left; }
